@import "bootstrap-icons/font/bootstrap-icons.css";

@keyframes open_overlay_animation {
    from { background-color: transparent; }
    to { background-color: rgba(0, 0, 0, 0.7); }
}

@keyframes close_overlay_animation {
    from { background-color: rgba(0, 0, 0, 0.7); }
    to { background-color: transparent; }
}

@keyframes open_bag {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes close_bag {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(100%); opacity: 0; }
}

@keyframes mobile_open_bag {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes mobile_close_bag {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(100%); opacity: 0; }
}

@keyframes menu_open {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }   
}

@keyframes menu_close {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(-100%); opacity: 0; }   
    
}

.nav_brand {
    text-decoration: none;
    color: black;
    flex: 0 0 auto;
    white-space: nowrap;
}

.bag_wrapper {
    height: 100vh;
    width: 40vw;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
}

.open_bag_animation {
    animation: open_bag 0.2s;
}

.close_bag_animation {
    animation: close_bag 0.2s;
}

.mobile_open_bag_animation {
    animation: mobile_open_bag 0.2s;
}

.mobile_close_bag_animation {
    animation: mobile_close_bag 0.2s;
}

.mobile_bag_wrapper {
    height: 95vh;
    width: 100vw;
    background-color: white;
    border-radius: 25px 25px 0 0;
    display: flex;
    position: fixed;
    bottom:1;
    z-index: 101;
}

.bag {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
    width: 40vw;
}

.mobile_bag {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
    width: 100vw;
}

.btn_overlay_animation_open {
    animation-name: open_overlay_animation;
    animation-duration: 0.2s;
}

.btn_overlay_animation_close {
    animation-name: close_overlay_animation;
    animation-duration: 0.2s;
}

.btn_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.bag_body {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.empty_bag {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.empty_bag_title {
    font-weight: bold;
}

.empty_bag_des {
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.mobile_empty_bag_des{
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.btn_shop_now {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    border-radius: 30px;
    font-weight: bold;
}

.empty_bag_img {
    height: 35vh;
}

.bag_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem 1.5rem  2rem;
}

.mobile_bag_header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem .5rem  1rem;
}

.header_title {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn_close_bag {
    border: none;
    background-color: white;
    font-size: 1.3rem;
}

.icon_w_link {
    text-decoration: none;
    color: black;
}

.btn_menu {
    border: none;
    background-color: white;
}

.btn_bag {
    border: none;
    background-color: white;
}

.input_search {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px 0 0 25px;
    outline: none;
}

.btn_search_standalone {
    border: none;
    background-color: white;
}

.btn_search {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 25px 25px 0;
    background-color: white;
}

.nav {
    flex-wrap: nowrap !important;
    overflow: hidden !important;
}

.category_link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    flex: 0 0 auto;
    white-space: nowrap;
}

.bag_items_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.desktop_bag_items_footer {
    margin-top: auto;
    padding: 1rem 0 0 0;
    width: 100%;
    background-color: white;
}

.bag_items_footer {
    margin-top: auto;
    padding: 1.5rem 0 3rem 0;
    width: 100%;
    background-color: white;
}

.order_button {
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem 1rem .5rem 1rem;
}

.bag_items {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 0 1.5rem 0 1.5rem;
    overflow-y: scroll;
}

.bag_items_mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.80rem 0 .80rem;
    gap: 1rem;
    overflow-y: auto;
}

.bag_item {
    flex: 1;
    display: flex;
    gap: 0.75rem;
}

.product_image {
    max-width: 4.3125rem;
    width: 100%;
    height: 86px;   
}

.product_name {
    margin: 0;
    line-height: 1.25rem;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    max-width: 100%;
}

.product_info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}

.product_info_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1.5rem;
}

.product_price {
    font-weight: bold;
    margin: 0.25rem 0 0 0;
}

.product_quantity_form {
    display: flex;
    gap: 1rem;
}

.btn_plus_product, .btn_minus_product {
    border: none;
    background-color: white;
    height: 1rem;
}

.product_quantity {
    font-size: 1rem;
    line-height: 1.5rem;
}

.discount_code_wrapper {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.btn_submit_discount_code {
    border: none;
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 10rem;
    padding: 0 1rem 0 1rem;
}

.bag_items_footer_header {
    font-size: 1rem;
    font-weight: bold;
}

.order_summary_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.order_summary_header {
    margin: 0;
    width: 100%;
    font-weight: bold;
}

.order_summary_body {
    width: 100%;
}

.total_products_price_label,
.shipping_fee_label {
    color: rgba(0, 0, 0, 0.7);
}

.total_price_label {
    font-weight: bold;
}

.total_value {
    font-weight: bold;
}

.total_product_price,
.shipping_fee,
.total_price {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    padding: 1.5rem;
    z-index: 101;
}

.menu_open_animation {
    animation: menu_open 0.2s;
}
.menu_close_animation {
    animation: menu_close 0.2s;
}